@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Neuton:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

$light-pink: #EED3CD;
$normal: #DEA370;
$secondary: #EED3CD;
$tertary: #2E2E2E;
$primary: #D48274;
$light-clr: #F8ECE1;
$white-clr: #FFFFFF;


.first-section {
    background-color: $light-pink;
    // max-height: 33rem;
    overflow: hidden;

    .main-section {
        padding: 3rem 10rem 0rem 10rem;
        align-items: center;

        .content-section {

            h1 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 81.2px;
                color: $tertary;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: $tertary;
            }

            .learn-btn {
                margin-top: 2rem;

                a {
                    padding: .5rem 4rem;
                    background-color: $white-clr;
                    text-decoration: none;
                    color: $tertary;
                    font-size: 17px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            .mini-navbar ul {
                display: flex;
                margin-top: 1.7rem;
                margin-left: -2rem;

                i {
                    color: $primary;
                    padding: .3rem;
                    // margin-top: -.3rem;
                }

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $tertary;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                    }
                }
            }
        }

        .img-section {
        
            .main-img{
                width: 90%;
               
            }
        }
    }
}

// model startup section css

.model-startup-section {
    padding: 2rem 8rem;
    margin-top: 2rem;

    .second-m {
        margin-top: 16rem;
        margin-bottom: 12rem;
    }

    .all-content {
        margin-left: 1rem;

        .content-section {
            position: relative;

            img {
                width: 94%;
            }

            .content {
                background-color: $white-clr;
                margin-top: -6rem;
                position: absolute;
                min-height: 18rem;
                margin-left: 1.7rem;
                width: 82%;
                padding: 1.4rem 2rem 1rem 2rem;
                box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                z-index: 9999;

                h4 {

                    font-family: 'Neuton';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    color: $tertary;
                }

                p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 173.9%;
                    color: #808080;

                    a {
                        color: $primary;
                        font-size: 17px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


// facial-mania-franchise css

.facial-mania-franchise {
    margin-top: 3rem;

    .upper-content {
        background-color: $primary;

        .main-heading {
            justify-content: center;

            h2 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                padding: 3rem 0 1rem 0;
                font-size: 46px;
                color: $white-clr;
                text-align: center;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                line-height: 30px;
                padding: 0 9rem 5.5rem 9rem;
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                color: $white-clr;
            }
        }
    }

    .lower-content-imgs {
        padding: 0 6rem;

        .all-content {
            justify-content: center;
            text-align: center;
            margin-top: -5.5rem;
            align-items: center;

            .circle-img {
                border-radius: 50%;
                margin: auto;
                background-color: $white-clr;
                width: 170px;
                height: 170px;
                border: 4px solid $primary;

                img {
                    padding-top: 1.7rem;
                }
            }

            h6 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 153.9%;
                text-align: center;
                margin-top: 1rem;
                color: #2E2E2E;
            }

            p {

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                text-align: center;
                color: #808080;
            }
        }
    }
}

// easy-seven-steps-section 

.easy-seven-steps-section {

    margin-top: 2rem;

    .main-heading {
        h3 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 55px;
            text-align: center;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #626262;
        }
    }

    .content-section {
        justify-content: center;
        text-align: center;

        .all-content {
            margin-top: -2.4rem;
            position: relative;

            span {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 245.412px;
                line-height: 142.01%;
                margin-left: -8rem;
                /* or 304px */
                text-align: center;
                color: rgba(0, 0, 0, 0.06);
            }


            .east-step-icons {
                position: absolute;
                width: 190px;
                height: 190px;
                top: 130px;
                left: 140px;
                background: rgba(255, 255, 255, 0.88);
                box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25);
                border-radius: 50%;

                img {
                    padding-top: 2.4rem;
                    width: 114px;
                }

                #led {
                    padding-top: 3.5rem;
                    width: 120px;
                }
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 142.01%;
                /* identical to box height, or 40px */
                text-align: center;
                margin-left: 2rem;
                color: #2E2E2E;
            }
        }
    }
}

// medical spa difference css

.med-spa-differ {
    background: rgba(212, 130, 116, 0.1);
    margin-top: 4rem;

    .headind-section-btn {
        padding: 2rem 0;

        h4 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 58px;
            text-align: center;

            color: #2E2E2E;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 177.9%;
            /* or 28px */
            text-align: center;
            padding: 0 2rem;
            color: #808080;
        }

        .btn-ab {
            justify-content: center;

            .application-btn {

                text-align: right;

                button {
                    background-color: $tertary;
                    padding: .6rem 2rem;

                    a {
                        color: $white-clr;
                        text-decoration: none;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 18px;
                    }
                }
            }

            .brouchre-btn {
                text-align: left;

                button {
                    background: none;
                    padding: .5rem 2rem;
                    border: 2px solid $tertary;

                    a {
                        color: $tertary;
                        text-decoration: none;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    .detail-content {
        margin-top: 1rem;

        .main-img {
            background-color: $primary;
            width: 45%;
            padding: 3rem;

            img {
                width: 96%;
            }
        }

        .inner-content {
            //  background: #626262;
            justify-content: center;
            align-items: center;
            padding-left: .9rem;

            .inner-img {
                width: 105px;
                height: 105px;
                border: 2px solid $primary;
                border-radius: 50%;
                background-color: $white-clr;

                img {
                    padding-top: .7rem;
                }
            }

            h6 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 35px;
                color: #2E2E2E;

            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 177.9%;
                /* or 28px */
                color: #808080;
            }
        }
    }
}

.passions-skills {
    background-image: url(../images/together.png);
    height: 450px;

    .all-content {

        padding: 3rem 3rem;

        h4 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 46px;
            color: $tertary;
            width: 70%;
        }

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 121.51%;
            /* identical to box height, or 22px */

            letter-spacing: 0.08em;
            color: $tertary;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            padding-top: 1rem;
            line-height: 186.9%;
            /* or 30px */
            color: #484848;
        }
    }
}

// bussiness-benefit-one css

.bussiness-benefit-1 {
    margin: 3rem 0;

    .b-heading {

        h4 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 58px;
            text-align: center;
            color: #2E2E2E;
        }
    }

    .bussniess-content {
        padding: 2.7rem 4rem 0 4rem;

        .all-content {

            padding-left: 2rem;

            img {
                width: 85%;
            }

            h6 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 35px;
                margin-top: .5rem;
                color: #2E2E2E;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 156.9%;
                /* or 25px */
                width: 85%;
                color: #808080;

                a {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }
}

// align-practice css

.align-practice {
    padding-bottom: 3rem;

    .heading-content {
        background-color: $primary;
        padding-top: 2rem;
        padding-bottom: 9rem;
        position: relative;
        justify-content: center;

        h4 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 61px;
            text-align: center;
            line-height: 121.51%;
            /* or 74px */
            color: #FFFFFF;
        }

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 142.01%;
            /* or 23px */
            text-align: center;
            color: #FFFFFF;
        }

        .c-fb {

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 142.01%;
            /* or 23px */
            margin-top: .4rem;
            font-style: italic;
            text-align: center;
        }

        p {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 142.01%;
            /* or 23px */
            margin-top: 1rem;
            width: 70%;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .yt-img {
        margin-top: -9rem;
        justify-content: center;
        text-align: center;

        img {
            z-index: 9999;
            width: 94%;
        }
    }

    .info-section {
        justify-content: center;
        text-align: center;
        margin-top: -3rem;

        h2 {

            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 76px;
            /* identical to box height */
            color: $tertary;
            text-align: center;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            padding: 1rem 22rem;
            line-height: 177.9%;
            /* or 28px */
            color: $tertary;
            text-align: center;
        }

        button {
            width: 180px;
            background-color: $tertary;
            padding: .7rem 3rem;

            a {
                text-decoration: none;
                color: $white-clr;
                text-transform: uppercase;
            }
        }
    }
}

// build-better-future css

.build-better-future {
    background-color: $primary;

    .all-content {
        padding: 3rem 10rem;
        align-items: center;

        .heading-side {
            padding-left: 6rem;

            h4 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 51px;
                /* identical to box height */
                color: #FFFFFF;
            }

            span {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 121.51%;
                /* identical to box height, or 22px */
                letter-spacing: 0.08em;
                color: $white-clr;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 177.9%;
                /* or 28px */
                color: $white-clr;
            }
        }

        .img-side {
            text-align: right;
            position: relative;

            .img27 {
                position: absolute;
                top: 10px;
                left: 6rem;
            }

            .img26 {
                padding-right: 7rem;
            }

            .img28 {
                position: absolute;
                left: 6rem;
                bottom: 0;
            }
        }
    }
}

// bussniess-benefit-2 css

.bussniess-benefit-2 {

    margin-top: 3rem;

    .b-heading {
        h3 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 58px;
            text-align: center;
            color: #2E2E2E;
            padding-bottom: 1rem;
        }
    }

    .main-content {
        justify-content: center;
        padding: 2rem 15rem;

        .all-content {

            .img-section {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-left: 2rem;
                background-color: $white-clr;
                position: relative;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

                img {
                    padding-left: 2rem;
                    padding-top: 1.7rem;
                    position: relative;
                }

                .headphone {
                    padding-left: 1.7rem;
                }

                .money {
                    padding-left: 1.5rem;
                    padding-top: 1.5rem;
                }
            }

            .content-section {
                background-color: $white-clr;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
                min-height: 19rem;
                padding: 5.4rem 2rem 1rem 2rem;
                margin-top: -4.5rem;

                span {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 142.01%;
                    /* identical to box height, or 34px */
                    text-align: center;
                    color: $tertary
                }

                p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 156.9%;
                    /* or 25px */
                    margin-top: .3rem;
                    color: #808080;

                    a {
                        color: $primary;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }

        }
    }
}

// invest facial med spa css

.invest-facial-spa {
    background-color: $primary;
    margin-top: 3rem;

    .all-content {
        padding: 4rem 10rem 5rem 10rem;
        align-items: center;

        .imgs-side {
            position: relative;

            .flower {
                position: absolute;
                top: 30px;
                right: 140px;
            }

            .d-facial {
                position: absolute;
                left: 12.4rem;
                bottom: -2rem;

            }
        }

        .content-side {
            padding-left: 4rem;

            h6 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 177.9%;
                color: $white-clr;
            }

            span {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 177.9%;
                /* identical to box height, or 32px */
                letter-spacing: 0.08em;
                color: $white-clr;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 177.9%;
                /* or 34px */
                color: rgba(255, 255, 255, 0.82);
            }
        }
    }
}

// bussiness-benefits-3 css

.bussiness-benefits-3 {
    margin-top: 3rem;

    .b3-heading {
        h4 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 58px;
            padding-bottom: 1.5rem;
            color: $tertary;
        }
    }

    .all-content {
        padding: 1rem 8rem;

        .content-box {
            box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            width: 30%;
            padding: 0;
            margin-left: 2rem;

            img {
                width: 100%;
            }

            h6 {
                font-family: 'Neuton';
                font-style: normal;
                padding: 1rem 1rem 0 1rem;
                font-weight: 700;
                font-size: 26px;
                line-height: 35px;
                color: #2E2E2E;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                padding: 0 1rem 1rem 1rem;
                line-height: 156.9%;
                /* or 25px */
                color: #808080;

                a {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }
}

// meet-jason-hall

.meet-jason-hall {
    margin-top: 4rem;

    .all-content {

        background-color: $primary;
        align-items: center;

        .content-side {
            padding: 0 6rem 0 10rem;

            h4 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 121.51%;
                /* or 49px */
                color: $white-clr;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 166.01%;
                /* or 27px */
                color: $white-clr;
            }
        }

        .video-side {
            padding: 0;
            margin: 0;

            img {
                width: 100%;
            }
        }
    }
}

// grow-your-practice css

.grow-your-practice {
    margin-top: 1rem;

    .all-content {
        padding: 0rem 10rem;
        align-items: center;
        justify-content: center;

        .img-side {
            text-align: center;

            img {
                width: 500px;
            }
        }

        .content-side {
            padding-top: 2rem;
            padding-right: 4rem;

            h4 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                color: $tertary;
            }

            span {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 121.51%;
                /* identical to box height, or 22px */
                margin-top: .4rem;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: $tertary;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 177.9%;
                /* or 28px */
                margin-top: 1rem;
                color: #606060;

            }
        }
    }
}

// bussiness-benefits-4 css

.bussiness-benefits-4 {
    background-color: $primary;
    padding: 4rem;

    .b4-heading {
        // padding: 3rem 0 1rem 0;

        h4 {
            text-align: center;
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 58px;
            color: $white-clr;
        }
    }

    .all-content {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1.5rem 10rem;

        .content-box {
            //    background-color: #2E2E2E;
            padding: 0 3rem;

            .img-box {
                width: 170px;
                height: 170px;
                border: 4px solid $light-pink;
                border-radius: 50%;
                margin: auto;

                img {
                    padding-top: 1.2rem;
                }

                .improve,
                .growth {
                    padding-top: 2.2rem;
                }

            }

            h6 {
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 35px;
                text-align: center;
                color: $white-clr;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 156.9%;
                /* or 25px */
                text-align: center;
                color: $white-clr;

                a {
                    color: $white-clr;
                    font-weight: 600;
                }
            }
        }
    }
}

// align-practice-yt css

.align-practice-yt {
    justify-content: center;
    text-align: center;

    .main-content {
        padding: 4rem 15rem;

        h4 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 58px;
            color: $tertary;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 177.9%;
            /* or 28px */
            text-align: center;
            color: #606060;
        }

        iframe {
            margin-top: 1.5rem;
            filter: drop-shadow(0px 40px 61px rgba(238, 211, 205, 0.52));
        }
    }

}

// info-oppurtunity css

.info-oppurtunity {
    background-color: $primary;
    margin-top: 4rem;
    margin-bottom: .2rem;

    .info-section {
        justify-content: center;
        text-align: center;
        padding: 3rem 6rem;

        h2 {

            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 76px;
            /* identical to box height */
            color: $white-clr;
            text-align: center;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            padding: 0 15rem;
            line-height: 177.9%;
            margin-top: .5rem;
            /* or 28px */
            color: $white-clr;
            text-align: center;
        }

        button {
            width: 180px;
            background-color: $tertary;
            padding: .5rem 2rem;
            margin-top: 1rem;

            a {
                text-decoration: none;
                color: $white-clr;
                // padding: 0 2rem;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .first-section .main-section {
        padding: 3rem 6rem 0rem 6rem;
        align-items: center;
    }
}
@media only screen and (max-width: 1450px) {

    .first-section .main-section {
        padding: 3rem 2rem 0rem 3rem;
        align-items: center;
    }
    .first-section .main-section .content-section h1 {
        font-size: 70px;
        color: #2E2E2E;
    }
    .first-section .main-section .content-section .mini-navbar ul {
        display: flex;
        margin-top: 1.5rem;
        margin-left: 0rem;
    }
    .model-startup-section {
        padding: 2rem 4rem;
        margin-top: 2rem;
    }

    .easy-seven-steps-section .content-section .all-content .east-step-icons {
        left: 90px;
    }

    .align-practice .info-section p {
        padding: 1rem 10rem;
    }

    .build-better-future .all-content {
        padding: 3rem 2rem;
    }

    .bussniess-benefit-2 .main-content {
        justify-content: center;
        padding: 2rem 8rem;
    }

    .invest-facial-spa .all-content {
        padding: 4rem 4rem 5rem 4rem;
        align-items: center;
    }

    .invest-facial-spa .all-content .content-side {
        padding-left: 6rem;
    }

    .invest-facial-spa .all-content .imgs-side .flower {
        position: absolute;
        top: 30px;
        right: 44px;
    }

    .meet-jason-hall .all-content .content-side {
        padding: 0 4rem 0 6rem;
    }

    .grow-your-practice .all-content {
        padding: 0rem 4em;
        align-items: center;
        justify-content: center;
    }

    .bussiness-benefits-4 .all-content {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1.5rem 4rem;
    }

    .facial-mania-franchise .upper-content .main-heading p {

        padding: 0 4rem 5.5rem 4rem;
    }

    .facial-mania-franchise .lower-content-imgs {
        padding: 0 3rem;
    }

    .align-practice-yt .main-content {
        padding: 4rem 6rem;
    }

    .info-oppurtunity .info-section p {
        padding: 0 5rem;
    }

    ol,
    ul {
        padding-left: 0rem;
    }

    footer .main-footer .finance-email {
        margin-top: 0.5rem;
        padding-left: 0rem;
    }

    footer .main-footer .logo-section {
        margin-top: 2rem;
        padding-left: 0rem;
    }
}