@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Neuton:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

$light-pink: #EED3CD;
$normal: #DEA370;
$secondary: #EED3CD;
$tertary: #2E2E2E;
$primary: #D48274;
$light-clr: #F8ECE1;
$white-clr: #FFFFFF;


.main-section {
    background-image: url(../../images/home-front.png);
    align-items: center;

    .main-heading {
        padding: 6rem 4rem;

        h1 {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 400;
            font-size: 103px;
            line-height: 94px;
            color: #FDFFFD;
        }

        .learn-more-btn {
            margin-top: 4rem;
            background-color: $primary;
            padding: .7rem 2rem;

            a {
                text-decoration: none;
                // padding: 2rem 1rem;
                color: $white-clr;
                text-transform: uppercase;
            }

        }

    }

    .main-btn-section {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        height: auto;

        .btn-section {

            display: flex;
            margin-right: 1rem;

            .inner-btn {
                background-color: $white-clr;
                margin-left: .5rem;
                width: 153.97px;
                height: 172.23px;
                background: #FFFFFF;
                border: 6px solid rgba(145, 145, 145, 0.67);
                border-radius: 16px;
                position: relative;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-top: 2.5rem;
                    text-decoration: none;
                    color: $tertary;

                    p {
                        margin-top: 1rem;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14.5px;
                        line-height: 18px;
                    }
                }

                .tick {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    z-index: 99;
                }

                .vector {
                    position: absolute;
                    top: -.1rem;
                    left: -4px;
                }
            }
        }
    }
}

.video-section {
    background-color: $light-pink;
    height: 500px;
    justify-content: center;

    .video-heading {
         
        h4 {
            padding-top: 1.7rem;
            width: 70%;
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 70px;
            text-align: center;
            margin: auto;
            text-transform: capitalize;
            color: #2E2E2E;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            padding-top: 2rem;
            color: #4E4E4E;
        }
    }

    .video-img {
        text-align: center;
        margin-top: 3rem;
        position: relative;
    }
}

.beauty {
    margin-top: 24rem;
    padding: 1rem 8rem;

    .main-b-sec {
        align-items: center;
        justify-content: center;
        // text-align: center;

        .content-side {
            text-align: left;
            justify-content: center;
            padding-left: 7.7rem;

            h6 {
                height: 50px;
                font-family: 'Neuton';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 51px;
                color: $tertary;
            }

            span {
                height: 40px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: $primary;
            }

            p {
                height: 180px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                margin-top: 1rem;
                color: $tertary;
            }
        }

        .img-side {
            padding: 0;
            padding-left: 2.5rem;
        }
    }
}

.packages {
    background-color: $light-pink;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    padding-bottom: 4rem;

    .packages-heading {
        font-family: 'Neuton';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 81px;
        margin-top: 5rem;
        padding: 3rem;
    }

    .main-box {
        justify-content: center;
        align-items: center;
        gap: 4rem;

        .inner-box {
            background-color: $white-clr;
            padding: 2rem 2.4rem;
            width: 22%;
            text-align: left;
            align-items: center;
            border-radius: 16px;
            min-height: 30rem;
          
            .pr-hd{
                height: 120px;
                align-items: center;

                h4 {
                    color: $primary;
                    font-size: 77px;
                    font-family: 'Neuton';
                    font-weight: 700;
                    height: 4rem;
                    margin-top: .4rem;
                 
                }
    
                span {
                    font-family: 'Neuton';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 37px;
                    margin-top: 1.5rem;
                    display: block;
                    height: 4rem;
                }
            }
            .detail{
                height: 130px;
                position: relative;
                margin-top: 3rem;

                p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 23px;
                    text-transform: capitalize;
                    position: absolute;
                    bottom: 0;
                    
                }
                .memb{
                    bottom: 40px;
                }
            }
            button{
                 
                    background-color: $primary;
                    padding: .5rem 2rem;
                    text-transform: uppercase;
                    margin-top: 2rem;
                a {
                     text-decoration: none;
                     color: $white-clr; 
                }  

            }

         
        }
    }
}

.about-med-spa {
    background-image: url(../../images/med-spa.png);
    width: 100%;
    height: 800px;

    .abt-content {
        padding: 2rem 20%;

        h4 {
            height: 82px;
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 2rem;
        }

        .under-hd {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            color: #FFFFFF;
        }

        p {
            font-family: 'Neuton';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 43px;
            text-align: center;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }

    .rating-box {
        background-color: $white-clr;
        width: 520px;
        height: auto;
        margin: auto;
        display: flex;
        text-align: center;
        align-items: center;

        .total-rating-side {

            width: 50%;

            // background-color: #D48274;
            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 79px;
                line-height: 35px;
                text-transform: uppercase;
                color: #535050;

            }

            img {
                width: 25px;
                height: 25px;
                margin-top: 1rem;
            }
        }

        .giving-rating-side {
            // background-color: #DEA370;
            padding: 1rem;

            .rating {
                display: flex;
                align-items: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 35px;
                text-transform: uppercase;

                color: #535050;

                img {
                    width: 9px;
                    height: 9px;
                    margin-left: .4rem;
                }

                .line {
                    width: 100px;
                    height: 5px;
                    background-color: gray;
                    margin: 0 .5rem;
                    padding-left: .5rem;
                }
            }
        }
    }
}

// media query css 

@media only screen and (max-width: 1600px){
           
    .beauty .main-b-sec .content-side {
        padding-left: 3rem;
    }
    .packages .main-box .inner-box {
        width: 25%;
    }
} 
@media only screen and (max-width: 1450px){
           
    .beauty .main-b-sec .content-side {
        padding-left: 0;

    }
} 
@media only screen and (max-width: 1375px){
           
    .packages .main-box .inner-box {
        width: 28%;
    }
    .video-section .video-img img {
        width: 100%;
     }
     .beauty {
        margin-top: 24rem;
        padding: 1rem 6rem;
    }
} 

@media only screen and (max-width: 1200px) {
 
    .beauty .main-b-sec {
        align-items: center;
        justify-content: center;
    }

    .beauty {
        margin-top: 17rem;
    }
    .beauty .main-b-sec .content-side {
        width: 96%;
        margin-left: 1rem;
    }

    .beauty .main-b-sec .img-side img {
        height: auto;
    }

    .packages .main-box {
        gap: 3rem;
    }
    .packages .main-box .inner-box .pr-hd h4 {
        font-size: 60px;
    }

    .packages .main-box .inner-box .pr-hd span {
        font-size: 30px;
    }
    .packages .main-box .inner-box .detail p {
        font-size: 20px;
}
}

@media only screen and (max-width: 992px) {

    .main-section{
        padding-bottom: 4rem;
    }
    .main-section .main-heading {
        padding: 2rem 4rem;
        justify-content: center;

    }

    .main-section .main-heading h1 {
        font-size: 80px;
        width: 100%;
        line-height: 94px;
        text-align: center;
    }

    .main-section .main-btn-section .btn-section .inner-btn {
        width: 143.97px;
        height: 162.23px;
    }

    .main-section .main-heading .learn-more-btn {
        display: none;
    }

    .packages .main-box {
        gap: 2rem;
    }

    .packages .main-box .inner-box {
        padding: 2rem;
        width: 30%;
    }

    .about-med-spa .abt-content h4 {
        font-size: 54px;
        margin-top: 1.4rem;
    }

    .about-med-spa .abt-content .under-hd {
        font-size: 20px;
    }

    .about-med-spa .abt-content p {
        font-size: 18px;
        line-height: 27px;
    }

    .beauty {
        padding: 1rem 2rem;
    }

}

@media only screen and (max-width: 865px) {

    .main-section .main-heading h1 {
        font-size: 70px;
    }

    .main-section .main-btn-section .btn-section .inner-btn {
        width: 138.97px;
        height: 158.23px;
    }

    .main-section .main-btn-section {
        margin-top: 1rem;
    }

    .video-section .video-heading h4 {
        font-size: 50px;
    }

    .video-section .video-heading p {
        padding-top: 1rem;
    }

    .video-section .video-heading {
        padding: 0 2rem;
    }
    
    .beauty {
        margin-top: 13rem;
    }
}

@media only screen and (max-width: 770px) {

    .main-section .main-heading h1 {
        font-size: 60px;
    }

    .main-section .main-btn-section .btn-section .inner-btn {
        width: 133.97px;
        height: 153.23px;
    }

    .packages .main-box .inner-box {
        padding: 2rem;
        width: 70%;
    }
    .beauty {
        margin-top: 4rem;
    }
    .beauty .main-b-sec .img-side img {
        margin-left: .7rem;
        width: 97%;
        margin-top: .5rem;
    }

    .beauty .main-b-sec .content-side p {
        line-height: 25px;
    }

    .main-section .main-heading {
        padding: 1rem 2rem;
    }

    .video-section .video-heading h4 {
        padding-top: 1rem;
        font-size: 50px;
        width: 75%;
        line-height: 55px;
    }

    .video-section .video-heading p {
        padding-top: 0rem;
    }

    .video-section .video-heading {
        padding: 0 1rem;
    }

    .about-med-spa .abt-content h4 {
        font-size: 48px;
    }

    .main-section .main-btn-section .btn-section .inner-btn a {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    .beauty{
        margin-top: 1rem;
    }
    .beauty .main-b-sec .content-side p {
        line-height: 22px;
        // display: none;
    }

    .beauty .main-b-sec .content-side h6 {
        height: 40px;
        font-size: 24px;
        text-align: center;
        line-height: 41px;
        margin-top: 1rem;
    }
    .beauty .main-b-sec .content-side span{
        text-align: center;
        font-size: 15px;
        display: block;
    }

    .main-section .main-heading {
        padding: 2rem 1rem;
    }

    .video-section .video-heading {
        padding: 0 .5rem;
    }
    .video-section .video-img {
        margin-top: 0;
    }
    .about-med-spa .rating-box {
        background-color: #FFFFFF;
        width: 90%;
        padding-top: 2rem;
        flex-direction: column;
    }

    .main-section .main-btn-section .btn-section .inner-btn {
        width: 123.97px;
        height: 143.23px;
    }

    .main-section .main-heading h1 {
        font-size: 52px;
        line-height: 60px;
    }

    .main-section .main-btn-section {
        margin-top: 0;
    }

    .main-section .main-btn-section .btn-section {
        margin-right: 0.4rem;
    }

    .video-section .video-heading p {
        font-size: 17px;
    }

    .video-section {
        background-color: #EED3CD;
        height: 400px;
    }
    .video-section .video-heading h4 {
        padding-top: 2rem;
        font-size: 35px;
        line-height: 45px;
    }

}

@media only screen and (max-width: 450px) {

    .main-section .main-heading {
        padding: 2rem 1.5rem;
    }

    .main-section .main-btn-section .btn-section .inner-btn {
        width: 113.97px;
        height: 126.23px;
    }

    .main-section .main-heading h1 {
        font-size: 48px;
        line-height: 54px;
    }

    .main-section .main-btn-section .btn-section .inner-btn a {
        margin-top: 1.2rem;
    }

    .about-med-spa .rating-box .total-rating-side p {
        font-size: 45px;
    }

    .about-med-spa .rating-box .total-rating-side img {
        width: 20px;
        height: 20px;
        margin-top: 0;
    }

    .about-med-spa .rating-box .giving-rating-side .rating {
        font-size: 18px;
    }

    .video-section .video-heading h4 {
        padding-top: 2rem;
        font-size: 20px;
        line-height: 27px;
        height: 100px;
        width: 80%;
    }

    .video-section .video-heading p {
        font-size: 14px;
        padding-top: 0;
    }
    .video-section {
        background-color: #EED3CD;
        height: 300px;
    }

    .beauty {
        margin-top: 2rem;
        padding: 1rem .5rem;
    }

    .beauty .main-b-sec {
        width: 99%;
    }
    .beauty .main-b-sec .content-side p{
        margin-top: .4rem;
    }
    .beauty .main-b-sec .content-side {
        margin-left: 0;
        width: 100%;
        padding-left: 1.5rem;
        text-align: center;
    }

    .beauty .main-b-sec .img-side img {
         margin-top: 3.5rem;
         margin-left: .8rem;
         width: 100%;
    }
    .beauty .main-b-sec .img-side {
        padding-left: 0;
    }
    .packages {
        margin-top: 0rem;
    }    
    .packages .packages-heading {
        font-size: 28px;
        line-height: 40px;
        padding: 2rem;
        margin-top: 0rem;
    }

    .packages .main-box .inner-box {
        padding: 2rem;
        width: 90%;
        text-align: center;
        justify-content: center;
        min-height: 23.5rem;
    }
    .packages .main-box .inner-box .pr-hd h4 {
        font-size: 56px;
    }
    .packages .main-box .inner-box .detail {
        height: 100px;
        position: relative;
        margin-top: 0rem;
        justify-content: center;
        text-align: center;
    }
    .packages .main-box .inner-box .detail p {
        font-size: 18px;
    }
    .packages .main-box .inner-box .pr-hd span {
        font-size: 26px;
        margin-top: .8rem;}
    .packages .main-box .inner-box .detail .memb {
        bottom: 22px;
        left: 94px;
    }
    .packages .main-box .inner-box button {
        margin-top: 1rem;
    }

    .about-med-spa .abt-content h4 {
        font-size: 30px;
        height: 30px;
    }

    .about-med-spa .abt-content .under-hd {
        font-size: 15px;
        line-height: 24px;
        margin-top: 1.4rem;
    }

    .about-med-spa .abt-content {
        padding: 1rem 4%;
    }

    .about-med-spa .abt-content p {
        font-size: 15px;
        line-height: 22px;
    }
    .main-section .main-btn-section .btn-section .inner-btn a p {
        margin-top: 0.5rem;
        font-size: 12px;
        line-height: 18px;
    }
    
}

@media only screen and (max-width: 415px) {

    .main-section .main-btn-section .btn-section .inner-btn {
        width: 108.97px;
        height: 120.23px;
    }
    .main-section .main-btn-section .btn-section .inner-btn a {
        margin-top: 1rem;
    }
    .about-med-spa .rating-box {
        background-color: #FFFFFF;
        width: 90%;
    }

    .about-med-spa .rating-box .total-rating-side p {
        font-size: 42px;
    }

    .about-med-spa .rating-box .total-rating-side img {
        width: 20px;
        height: 20px;
        margin-top: 0;
    }

    .about-med-spa .rating-box .giving-rating-side .rating {
        font-size: 17px;
    }

}

@media only screen and (max-width: 385px){
    .beauty {
        margin-top: 1rem;
        padding: 0;
    }

    .beauty .main-b-sec .content-side p {
        margin-top: .5rem;
    }
    .beauty .main-b-sec .img-side img {
        margin-top: 4.5rem;
        margin-left: 0.9rem;
        width: 100%;
    }
}